
<nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <a href="#">Logo</a>
      </div>
      
      <div class="navbar-toggle"  [ngClass]="{'active': isMenuOpen}" (click)="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      
      <ul class="navbar-menu" [ngClass]="{'active': isMenuOpen}">
        <li class="navbar-item">
          <a routerLink="/home" class="navbar-link" routerLinkActive="active" (click)="reloadPage($event)">Accueil</a>
        </li>
        <li class="navbar-item">
          <a  class="navbar-link" routerLink="/ajouterSignature" routerLinkActive="active" (click)="reloadPage($event)">Ajouter Signature</a>
        </li>
        <li class="navbar-item">
          <a  class="navbar-link" routerLink="/listeSignature" routerLinkActive="active" (click)="reloadPage($event)">Liste Signature</a>
        </li>
        <li class="navbar-item">
          <a  class="navbar-link">Contact</a>
        </li>
        <li class="navbar-item navbar-btn">
          <a  class="button">S'inscrire</a>
        </li>
      </ul>
    </div>
  </nav>


 
