<body>


<div class="container">

    <h1>Créer une signature électronique !!!</h1>
    
  



    <!-- Notification de succès ✔️ -->
  <div *ngIf="notificationVisible" class="notification success-notification">
    ✅ Signature copié avec succès !
  </div>
  </div>




  <!-- Disposition côte à côte -->
  <div class="flex-container">
    <app-ajouter-signature-left-bar></app-ajouter-signature-left-bar>
    <app-ajouter-signature-right-bar></app-ajouter-signature-right-bar>
  </div>







  <!-- From Uiverse.io by gharsh11032000 --> 
  <div class="card">
    <img src="https://scontent.ftun15-1.fna.fbcdn.net/v/t39.30808-1/284270599_1654051414951140_6026694209470630915_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=111&ccb=1-7&_nc_sid=e99d92&_nc_ohc=pQ31RT2vU20Q7kNvgGquJjR&_nc_oc=AdntL1ruQ8UxzEAfSb-VjDxM9zpkRERxJMAL_Spf8ewJ7zruIwx5FLpVM3X0PObk2mI&_nc_zt=24&_nc_ht=scontent.ftun15-1.fna&_nc_gid=30l8w2fK2He5WHAvTYb2Xg&oh=00_AYEqR5kMXZOLnPWSk4eluniaZmwirEm1DsjhVAXwqFU07g&oe=67E4DDC0" alt="Card Image" style="width: 100%; height: auto;">
    <div class="card__content">
      <p class="card__title">Card Title</p>
      <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div>

  <hr>


  <!-- From Uiverse.io by John-CFO --> 
<form class="form">
  <span class="close">X</span>

  <div class="info">
  <span class="title">Two-Factor Verification</span>
  <svg class="check" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" xml:space="preserve">  <image id="image0" width="60" height="60" x="0" y="0" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAQAAACQ9RH5AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
    AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZ
    cwAACxMAAAsTAQCanBgAAAAHdElNRQfnAg0NDzN/r+StAAACR0lEQVRYw+3Yy2sTURTH8W+bNgVf
    aGhFaxNiAoJou3FVEUQE1yL031BEROjCnf4PLlxILZSGYncuiiC48AEKxghaNGiliAojiBWZNnNd
    xDza3pl77jyCyPzO8ubcT85wmUkG0qT539In+MwgoxQoUqDAKDn2kSNLlp3AGi4uDt9xWOUTK3xg
    hVU2wsIZSkxwnHHGKZOxHKfBe6rUqFGlTkPaVmKGn6iYao1ZyhK2zJfY0FZ9ldBzsbMKxZwZjn/e
    5szGw6UsD5I0W6T+hBhjUjiF7bNInjz37Ruj3igGABjbtpIo3GIh30u4ww5wr3fwfJvNcFeznhBs
    YgXw70TYX2bY/ulkZhWfzfBbTdtrzjPFsvFI+T/L35jhp5q2owDs51VIVvHYDM9sa/LY8XdtKy1l
    FXfM8FVN2/X2ajctZxVXzPA5TZvHpfb6CFXxkerUWTOcY11LX9w0tc20inX2mmF4qG3upnNWrOKB
    hIXLPu3dF1x+kRWq6ysHpkjDl+7eQjatYoOCDIZF3006U0unVSxIWTgTsI3HNP3soSJkFaflMDwL
    3OoHrph9YsPCJJ5466DyOGUHY3Epg2rWloUxnMjsNw7aw3AhMjwVhgW4HYm9FZaFQZ/bp6QeMRQe
    hhHehWKXGY7CAuSpW7MfKUZlAUqWdJ3DcbAAB3guZl9yKC4WYLfmT4muFtgVJwvQx7T2t0mnXK6J
    XlGGyAQvfNkaJ5JBmxnipubJ5HKDbJJsM0eY38QucSx5tJWTVHBwqDDZOzRNmn87fwDoyM4J2hRz
    NgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMy0wMi0xM1QxMzoxNTo1MCswMDowMKC8JaoAAAAldEVY
    dGRhdGU6bW9kaWZ5ADIwMjMtMDItMTNUMTM6MTU6NTArMDA6MDDR4Z0WAAAAKHRFWHRkYXRlOnRp
    bWVzdGFtcAAyMDIzLTAyLTEzVDEzOjE1OjUxKzAwOjAwIIO3fQAAAABJRU5ErkJggg=="></image>
    </svg>
<p class="description">Enter the two-factor authentication code provided by the authenticator app </p>
   </div>
    <div class="input-fields">
    <input placeholder="" type="tel" maxlength="1">
    <input placeholder="" type="tel" maxlength="1">
    <input placeholder="" type="tel" maxlength="1">
    <input placeholder="" type="tel" maxlength="1">
  </div>

      <div class="action-btns">
        <a class="verify" href="#">Verify</a>
        <a class="clear" href="#">Clear</a>
      </div>

</form>



<hr>




</body>

